body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 20px auto;
}
h1 {
    font-size: 7vmin;
    font-weight: 500;
    font-style: italic;
    margin-left: -0.3vh;
    margin-top: 10vh;
    margin-bottom: 0;
}
p {
    font-size: 1vw;
}
#overlay {
    width: 100%;
    height:100%;
    bottom: 0;
}
.owl {
    float: right;
    padding-right: 3vh;
    padding-top: 20vh;
    margin-bottom: 15vh;
    height: 100vh;
    width: 50vw;
    max-width: 50vw;
}
.owl img {
    height: 50%;
    max-width: 100%;
    float: right;
}
