body {
    font-family:"Comic Sans MS", cursive, sans-serif;
    width: 100%;
    margin: 20px auto;
}
h1 {
    color: black;
    margin-left: 5px;
    font-size: 2vw;
}
p {
    font-size: 1vw;
}
owl {
    width: 300%;
}
